$primary-color: #61B08C;
$border-width: 3px;
$container: 1170px;
$padding: 25px;

@function half-height ($first, $second){
  @return $container / $first - $padding / $second;
}

.half {
  height:half-height(2,2) ;
}

.half1 {
  height: half-height(2,2);
}

.half2 {
  height:half-height(2,2);
}


.first-class {
  color: $primary-color;
  font-family: sans-serif;
  text-decoration: underline;
}
.second-class {
  @extend .first-class;
  border-color: #fff
}

.border-blue {
  border-color: blue;
  border-width: $border-width;
}

.border-red {
  border-collapse: red;
  border-wdith: $border-width
}
// a { font-family: sans-serif; color: $primary-color; }
// a:hover, a:focus, a:visited{ color: blue; }
// a.link-class { color:green; }
// a.link-class:hover, a.link-class:focus, a.link-class:visited{ color: black; }

a { font-family: sans-serif; color: $primary-color;
  &:hover,
  &:focus,
  &:active {color: blue; }
  &.link-class { color: green;
    &:hover,
    &:focus,
    &:active {color: blue; } }
}

html{
  background: linear-gradient(to right, #FFFF88,#FFF3AC,#FFEEC6);
}

p {
  font-size: 40pt;
}

.cbp-af-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #363535;
	z-index: 1000;
	height: 230px;
	overflow: hidden;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
}

.cbp-af-header .cbp-af-inner {
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
	padding: 0 1.875em;
}

.cbp-af-header h1,
.cbp-af-header nav {
	display: inline-block;
	position: relative;
}


.cbp-af-header h1,
.cbp-af-header nav a {
	line-height: 230px;
}

.cbp-af-header h1 {
	text-transform: uppercase;
	color: #FEFDFF;
	letter-spacing: 4px;
	font-size: 4em;
	margin: 0;
	float: left;
}

.cbp-af-header nav {
	float: right;
}

.cbp-af-header nav a {
	color: #aaa;
	font-weight: 700;
	margin: 0 0 0 20px;
	font-size: 1.4em;
}

.cbp-af-header nav a:hover {
	color: #333;
}

/* Transitions and class for reduced height */
.cbp-af-header h1,
.cbp-af-header nav a {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.cbp-af-header.cbp-af-header-shrink {
	height: 90px;
}

.cbp-af-header.cbp-af-header-shrink h1,
.cbp-af-header.cbp-af-header-shrink nav a {
	line-height: 90px;
}

.cbp-af-header.cbp-af-header-shrink h1 {
	font-size: 2em;
}

/* Example Media Queries */
@media screen and (max-width: 55em) {

	.cbp-af-header .cbp-af-inner {
		width: 100%;
	}

	.cbp-af-header h1,
	.cbp-af-header nav {
		display: block;
		margin: 0 auto;
		text-align: center;
		float: none;
	}

	.cbp-af-header h1,
	.cbp-af-header nav a {
		line-height: 115px;
	}

	.cbp-af-header nav a {
		margin: 0 10px;
	}

	.cbp-af-header.cbp-af-header-shrink h1,
	.cbp-af-header.cbp-af-header-shrink nav a {
		line-height: 45px;
	}

	.cbp-af-header.cbp-af-header-shrink h1 {
		font-size: 2em;
	}

	.cbp-af-header.cbp-af-header-shrink nav a {
		font-size: 1em;
	}
}

@media screen and (max-width: 32.25em) {
	.cbp-af-header nav a {
		font-size: 1em;
	}
}

@media screen and (max-width: 24em) {
	.cbp-af-header nav a,
	.cbp-af-header.cbp-af-header-shrink nav a {
		line-height: 1;
	}
}
